<html>
	<head>
	</head>
	
	<body>
		<form>
			<input type='text' name='guess' autofocus />
			<input type='submit' value='Guess!' />
		</form>
		<form action="/" method="get">
			<input type='submit' value='Reset' />
		</form>
		<p>
			<%= word_blanks %>
		</p>
		<p>
			<%= word_to_guess %>
		</p>
		<p>
			<%= incorrect %> <%= message %> 
		</p>
	</body>
</html>