<html>
	<head>
	</head>
	
	<body>
		<form>
			<input type='text' name='guess' />
			<input type='submit' value='Guess!' />
		</form>
		<p>
			<%= word_blanks %>
		</p>
		<p>
			<%= word_to_guess %>
		</p>
		<p>
			<%= incorrect %> <%= message %> 
		</p>
	</body>
</html>